body {
  margin: 0;

}

.main {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #fbf6f0;
  height: 50px;
  width: 1013px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagem {
  position: relative;
  left: -100px;
  background-image: url(./imgs/Captura\ de\ tela\ 2024-06-04\ 180354.png);
  width: 1px;
  height: 1px;
}

.links {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 100px;
  height: 40px;
}

.link1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.link2 { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.link3 { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.link4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.link5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 20px;
  padding: 10px;
}

/*-----------------------------------*/

.cadastro {
  width: 480px;
  height: 550px;
  background-color: #4b626c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo1 {
  height: 450px;
  width: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -5px;
}

.títuloCadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  color: #fbf6f0;
  position: relative;
  top: -160px;
}

.inputTitulo1 {
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 17px;
}

.genero1 {
  position: relative;
  text-align: center;
  top: -170px;
  font-size: 17px;
}

.descrição1 {
  position: relative;
  top: -105px;
  width: 207.47px;
  height: 100px;
  text-align: center;
  font-size: 17px;
}

/*-----------------------------------*/

.remover {
  width: 480px;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.conteudo2 {
  height: 450px;
  width: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -35px;
}


.títuloRemover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  position: relative;
  color: #4b626c;
  justify-content: center;
  top: -185px;
}

.inputTitulo2 {
  position: relative;
  top: -160px;
  background-color: #4b626c;
  text-align: center;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif

}

.inputTitulo2::placeholder {
  color: white;
}

.genero2 {
  position: relative;
  text-align: center;
  top: -140px;
  font-size: 17px;
  width: 130px;
  background-color: #4b626c;
}

.genero2::placeholder {
  color: white;
}

/*-----------------------------------*/

.editar {
  width: 481px;
  height: 550px;
  background-color: #4b626c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteudo3 {
  height: 450px;
  width: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -35px;
}

.títuloEditar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  position: relative;
  color: #fbf6f0;
  justify-content: center;
  top: -185px;
}

.inputTitulo3 {
  position: relative;
  top: -195px;
  text-align: center;
  font-size: 17px;
}

.genero3 {
  position: relative;
  text-align: center;
  top: -170px;
  font-size: 17px;
}