body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.quadrante1 {
  width: 550px;
  height: 884px;
  background-color:rgba(251, 248, 244, 1);
  
}

.quadrante2 {
  position: relative;
  width: 1239px;
  height: 1239px;
  top: -140px;
  z-index: -1;
}

.boxLogin {
  position: relative;
  width: 390px;
  height: 320px;
  top: 57px;
  left: 55px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.titulo {
  width: 290px;
  height: 78px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: rgba(75, 98, 108, 1);
  text-align: center;
}

.nome {
  width: 380px;
  height: 50px;
  position: relative;
  top: 70px;
  border-radius: 5px;
  border: none;
  background-color:rgba(239, 239, 239, 1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  align-items: start;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 300;
}


.email {
  width: 380px;
  height: 50px;
  position: relative;
  top: 125px;
  border-radius: 5px;
  border: none;
  background-color:rgba(239, 239, 239, 1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  align-items: start;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 300;
}


.cpf {
  width: 380px;
  height: 50px;
  position: relative;
  top: 180px;
  border-radius: 5px;
  border: none;
  background-color:rgba(239, 239, 239, 1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  align-items: start;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 300;
}

.senha {
  width: 380px;
  height: 50px;
  position: relative;
  top: 235px;
  border-radius: 5px;
  border: none;
  background-color:rgba(239, 239, 239, 1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  align-items: start;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 300;
}

.confirmarSenha {
  width: 380px;
  height: 50px;
  position: relative;
  top: 290px;
  border-radius: 5px;
  border: none;
  background-color:rgba(239, 239, 239, 1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  align-items: start;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 300;
}

.enter {
  position: relative;
  left: 410px;
  top: 400px;
  border: none;
  background-color:rgba(251, 248, 244, 1) ;
}

#Enter {
  cursor: pointer;
}

.conta {
  width: 117px;
  height: 24px;
  top: 430px;
  left: 55px;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: rgba(151, 164, 162, 1);
  background-color: rgba(251, 248, 244, 1);
  padding: 0;
  border: none;
}

#Conta {
  cursor: pointer;
}

#Esqueceu    {
  cursor: pointer;
}